<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="/assets/logoblog.png">
    <title>Blog</title>
</head>
<body>
    <!-- title -->
    <header>
        <h1>Blog Articles</h1>
        <div class="new-button">
            <a href="/articles/new">+</a>
        </div>
    </header>
    <section>
        <!-- loop articles -->
        <% articles.forEach(article => { %>
            <div class="content-box">
                <div class="title">
                    <h2><%= article.title %></h2>
                </div>
                <div class="date">
                    <p><%= article.createdAt.toLocaleDateString() %></p>
                </div>
                <div class="description">
                    <p><%= article.description %></p>
                </div>
                <div class="any-button">
                    <div class="readmore-btn">
                        <a href="articles/<%= article.slug %>">Read More</a>
                    </div>
                    <div class="edit-btn">
                        <a href="articles/edit/<%= article.id %>">Edit</a>
                    </div>
                    <form class="del-btn" action="/articles/<%= article.id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </section>
</body>
</html>